@import "tailwindcss";

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-bg-surface: var(--bg-surface);
  --color-bg-elevated: var(--bg-elevated);
  --color-border: var(--border);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-accent: var(--accent);
  --color-positive: var(--positive);
  --color-negative: var(--negative);
  --color-warning: var(--warning);
}

@layer base {
  :root {
    --bg-primary: #05050A;
    --bg-surface: #16161C;
    --bg-elevated: #1C1C24;
    --border: #2D2D3B;
    --text-primary: #F4F4F5;
    --text-secondary: #A1A1AA;
    --text-muted: #626275;
    --accent: #00F3FF;
    --positive: #00F3FF;
    --negative: #F900FF;
    --warning: #F900FF;
  }
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
